@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

:root {
    --fonte-principal: 'SF UI Text', sans-serif;                                   
}

footer{
    background-color: black;
    font-family: var(--fonte-principal);
}

#footer-menu{
    color: white;
}

.content1-footer-menu a{
    text-decoration: none;
    color: white;
}
.content1-footer-menu ul{
    list-style: none;
    padding-left: 0;
}

.content2-footer2 a{
    text-decoration: none;
    color: white;
}

.content2-footer2 .bi{
    font-size: 2rem;
}