@import url('https://fonts.cdnfonts.com/css/sf-ui-text-2');

:root {
    --fonte-principal: 'SF UI Text', sans-serif;                                   
}

header{
    font-family: var(--fonte-principal);
}

.navbar-nav a{
    font-weight: 400;
}

.navbar-brand{
    font-weight: 600;
}